* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    height: 100vh;
    width: 100vw;
    background: url('images/image2.jpg') no-repeat center center fixed;
    background-size: cover;
}

.burb {
    height: 100px;
    width: 130px;
    position: fixed;
    top: 40vh;
    left: 30vw;
    z-index: 100;
}

.pipe_texture {
    position: fixed;
    top: 40vh;
    left: 100vw;
    height: 70vh;
    width: 6vw;
    background: linear-gradient(to right, green, limegreen, green);
    border: 3px solid black;
}

.message {
    position: absolute;
    z-index: 100;
    color: black;
    top: 50%;
    left: 50%;
    font-size: 4em;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    width: auto; 
    max-width: 80%
}

.score {
    position: fixed;
    z-index: 10;
    height: 5vh;
    font-size: 5vh;
    font-weight: 50;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    top: 0;
    left: 0;
    margin: 10px;
}

.score_val {
    color: red;
    font-weight: bold;
}

.volume-control {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 150;
}

input[type="range"] {
    width: 100px; 
}
